.historico {
    box-sizing: border-box;
    position: absolute;
    width: 817px;
    height: 664px;
    left: 309px;
    top: 100px;
    border: 1px solid gray;
}

#enviar {
    background-color: #4383c4;
    color: white;
    border-radius: 10px;
    border: 1px solid #4383c4;
    margin: 10px;
    width: 50px;
    height: 30px;
}

.titulo {
    background-color: gray;
    padding: 5px;
    border-bottom: 0.5px solid;
}

.titulo h3 {
    font-size: 15px;
    padding-left: 20px;
}

.corpo {
    background-color: gray;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#mensagem {
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid black;
    resize: none;
}

.mensagens {
    width: 100px;
    height: 395px;

}

.modelo {
    box-sizing: border-box;
    border-radius: 5px;
    background: #acdaff; 
    width: 700px;
    max-height: 350px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;
}

.modelo p {
    margin: 5px;
}

.btn {
    width: 130px;
    height: 30px;
    margin-left: 630px;
}

.laranja, 
.vermelho {
    width: 60px;
    height: 30px;
    border: none;
}

.laranja {
    background-color: rgb(231, 157, 20);
}

.vermelho {
    background-color: rgb(235, 34, 34);
    margin-left: 6px;
}